.modal-dialog {
  max-width: 90vw;
  text-align: center;
  img {
    max-width: 100%;
    height: auto;
  }

  .canvas-profile-icon-wrapper {
    display: inline-block;
    border-radius: 50%;
    border: 2px solid rgb(197, 190, 190);
    overflow: hidden;
    width: 150px;
    height: 150px;
    canvas {
      width: 150px;
      height: 150px;
    }
  }

  .canvas-header-image-wrapper {
    canvas {
      max-width: 100%;
    }
  }

  @media (min-width: 576px) {
    max-width: 80vw;
  }
}
