$lighterThemeBlue: rgb(69, 124, 243);
$themeBlue: rgb(54, 89, 166);
$paleBlue: rgb(241, 245, 250);
$paleGray: #f3f5f6;
$media-breakpoint-md: 768px; // Medium devices (tablets, 768px and up)

@import "./newPost";
@import "./navigator";
@import "./signupForm";
@import "./loginForm";
@import "./readOnlyPost";
@import "./imageModal";
@import "./previewPost";
@import "./userSetting";
@import "./userProfile";
@import "./comment";

* {
  box-sizing: border-box;
  font-family: Tahoma, Geneva, sans-serif;
}

.themeColor-btn {
  background-color: $lighterThemeBlue;
  &:hover {
    background-color: $themeBlue;
  }
}

.blue-line-btn {
  border: none;
  background: none;
  color: $lighterThemeBlue;
}

.gray-line-btn {
  border: none;
  background: none;
  color: gray;
}

.themeColor-outline-btn {
  background-color: white;
  border: "2px solid" $lighterThemeBlue;
  color: $lighterThemeBlue;
  &:hover {
    background-color: $lighterThemeBlue;
    color: white;
  }
}

.themeColor-dropdown {
  button {
    background-color: $lighterThemeBlue;
    &:hover {
      background-color: $themeBlue;
    }
  }
  > div:nth-child(2) {
    max-height: 200px;
    overflow: auto;
  }
  .active {
    background-color: $lighterThemeBlue;
  }
}

.white-link {
  color: white;

  &:hover,
  &:active,
  &:visited,
  &:link {
    color: white;
    text-decoration: none;
  }
}

.black-link {
  color: black;

  &:hover,
  &:active,
  &:visited,
  &:link {
    color: black;
  }
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: $themeBlue;
  color: #fff;
}

.default-profile-icon {
  display: inline-block;
  text-align: center;
  background-color: rgb(11, 159, 11);
  color: white;
  border-radius: 50%;
}

#prompt {
  text-align: center;
  background-color: $paleBlue;
  margin: 16px 0;
  padding: 5px;
}

.spinner-wrapper {
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-spinner-wrapper {
  position: relative;

  .spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(132, 126, 126, 0.414);
    z-index: 1000;
  }
}
.spinner-large {
  div {
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
  }
}

.spinner-small {
  div {
    font-size: 1rem;
    width: 1.5rem;
    height: 1.5rem;
  }
}

.overlay-container {
  position: relative;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(132, 126, 126, 0.414);
    z-index: 1000;
  }
}

.ql-container {
  font-size: 1rem;
}
